<footer class="bg-white border-y-2 border-gray-300 dark:bg-gray-50 py-2">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-6">
      <!-- Sección informativa a la izquierda -->
      <div class="flex flex-col max-w-lg text-left text-gray-700">
        <!-- Enlaces de navegación y contacto -->
        <div class="flex flex-col space-y-2 text-sm">
          <a href="#" class="hover:text-blue-500">Sobre Nosotros</a>
          <a href="#" class="hover:text-blue-500">Contacto</a>
        </div>
      </div>
  
      <!-- Imagen de logo a la derecha -->
      <div class="flex-shrink-0 mt-6 sm:mt-0">
        <img src="Logo.png" class="h-28 sm:h-40 w-auto" alt="Logo de Donaciones" />
      </div>
    </div>
  </footer>
  
