<div class="bg-gradient-to-t from-cyan-700/50 p-10">
  <div class="max-w-xl mx-auto m-8 p-14">
    <img src="Logo.png" class="mx-auto h-48 sm:h-60 mb-8" alt="Logo" />
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="w-full mb-6">
        <label class="block text-sm text-black mb-2" for="name"></label>
        <input formControlName="name" 
               class=" w-full px-6 py-4 text-gray-700 bg-gray-100 rounded-lg focus:outline-none focus:bg-sky-100" 
               type="text" id="name" placeholder="Nombre" required>
      </div>

      <div class="w-full mb-6">
        <label class="block text-sm text-black mb-2" for="lastname"></label>
        <input formControlName="lastname" 
               class="w-full px-6 py-4 text-gray-700 bg-gray-100 rounded-lg focus:outline-none focus:bg-sky-100" 
               type="text" id="lastname" placeholder="Apellido" required>
      </div>

      <div class="w-full mb-6">
        <label class="block text-sm text-black mb-2" for="email"></label>
        <input formControlName="email" 
               class="w-full px-6 py-4 text-gray-700 bg-gray-100 rounded-lg focus:outline-none focus:bg-sky-100" 
               type="email" id="email" placeholder="Correo Electrónico" required>
      </div>

      <div class="w-full mb-6">
        <label class="block text-sm text-black mb-2" for="password"></label>
        <input formControlName="password" 
               class="w-full px-6 py-4 text-gray-700 bg-gray-100 rounded-lg focus:outline-none focus:bg-sky-100" 
               type="password" id="password" placeholder="Contraseña" required>
      </div>

      <div class="w-full mb-6">
        <label class="block text-sm text-black mb-2" for="phone_number"></label>
        <input formControlName="phone_number" 
               class="w-full px-6 py-4 text-gray-700 bg-gray-100 rounded-lg focus:outline-none focus:bg-sky-100" 
               type="text" id="number" placeholder="Numero telefonico" required>
      </div>

      <div class="w-full mb-6">
        <label class="block text-sm text-black mb-2" for="image"></label>
        <input type="file" 
               id="image" 
               (change)="onFileSelected($event)" 
               class="w-full px-6 py-4 text-gray-700 bg-gray-100 rounded-lg focus:outline-none focus:bg-sky-100" 
               accept="image/*">
      </div>
      
      <div class="w-full flex justify-center mb-6">
        <button type="submit" class="px-14 py-3 text-white font-light tracking-wider bg-cyan-600 hover:bg-gray-800 rounded-lg">
          Registrar
        </button>
      <a routerLink="/rescenter">center</a>
      </div>
      <div class="text-center mt-4"> <p class="text-sm text-black"> ¿Quieres registrar tu centro? <a routerLink="RegisterCenter" class="text-cyan-600 hover:underline"> Regístralo aquí </a> </p> </div>
    </form>
  </div>
</div>
