<div [ngClass]="{'dark': isDarkMode}" class="bg-gradient-to-t from-cyan-700/50 bg-white dark:bg-black/95">
  <div class="container mx-auto px-4 py-8">

      <section class="mb-8">
        <h1 class="text-3xl font-bold mb-2">Centros de ayuda</h1>
        <p class="text-gray-600">Aquí puedes encontrar centros de ayuda en los que confiamos 
          y que están comprometidos a hacer llegar tus donaciones a quienes más lo necesitan. 
          Sabemos lo importante que es apoyar a quienes realmente hacen la diferencia.</p>
      </section>
    
      <nav class="flex justify-center space-x-12 border-b pb-2 mb-8">
        <button
          *ngFor="let category of categories"
          (click)="loadCenters(category.method)"
          [class.border-teal-400]="activeCategory === category.name"
          class="text-gray-700 pb-2 hover:border-teal-400 border-transparent border-b-2"
        >
          {{ category.name }}
        </button>
      </nav>
      
      <section class="space-y-4 max-w-5xl mx-auto border rounded-lg p-6">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
          <div
            *ngFor="let center of centers"
            class="relative border rounded-lg p-6 flex flex-col sm:flex-row gap-6 sm:gap-8 bg-gradient-to-t from-gray-100/50"
          >
            <!-- Logo e información del centro -->
            <div class="flex flex-col items-center sm:items-start">
              <img [src]="center.images" class="h-32 w-32 object-cover rounded-full" alt="Logo" />
            </div>
            <!-- Detalles del centro -->
            <div class="flex-1 text-center sm:text-left my-4 flex flex-col justify-center">
              <p class="text-2xl text-gray-900">{{ center.name }}</p>
              <p class="text-gray-500">Ubicación: {{ center.address }}</p>
            </div>
          </div>
        </div>
      </section>
      
      
      
    
      <section class="text-center mb-8">
        <h2 class="text-2xl font-bold mb-2">Patrocinadores</h2>
        <p class="text-gray-600">Texto hablando sobre cómo nuestros patrocinadores nos ayudan a enviarles más recursos a los centros</p>
    
        <div class="flex justify-center space-x-8 mt-4">
          <div class="text-center">
            <div class="w-16 h-16 bg-gray-300 rounded-full mx-auto mb-2"></div>
            <p class="text-gray-600">nombre1</p>
          </div>
          <div class="text-center">
            <div class="w-16 h-16 bg-gray-300 rounded-full mx-auto mb-2"></div>
            <p class="text-gray-600">nombre2</p>
          </div>
          <div class="text-center">
            <div class="w-16 h-16 bg-gray-300 rounded-full mx-auto mb-2"></div>
            <p class="text-gray-600">nombre3</p>
          </div>
        </div>
      </section>
  </div>
</div>