<section class="space-y-4 max-w-5xl mx-auto border rounded-lg bg-white bg-opacity-20 p-3">
    <div class="relative rounded-lg p-6 flex flex-col sm:flex-row gap-6 sm:gap-8 bg-white bg-opacity-40"></div>

    <div class="relative rounded-lg p-6 flex flex-col sm:flex-row gap-6 sm:gap-8 bg-white bg-opacity-30">
      <!-- Fecha en la esquina superior derecha -->
      <p class="absolute top-2 right-4 text-xs text-gray-800">Fecha: 01/11/2024</p>
      
      <!-- Logo e información del centro -->
      <div class="flex flex-col items-center sm:items-start">
        <img src="logoE.png" class="h-24 sm:h-32 mb-2" alt="Logo" />
      </div>
      
      <!-- Detalles del centro -->
      <div class="flex-1 text-center sm:text-left my-4 flex flex-col justify-center">
        <p class="text-2xl text-gray-900">Centro San Pedro Solicita. Ayuda urgente</p>
        <p class="text-gray-500">Ubicación: Nuevo León, México</p>
      </div>
      
      
      <!-- Solicitud y botón de ayuda -->
      <div class="flex flex-col items-end mt-auto">
        <p class="text-gray-500 text-center sm:text-left">Centro San Pedro</p>
      </div>
    </div>

</section>