<div [ngClass]="{'dark': isDarkMode}" class="bg-gradient-to-t from-cyan-700/50 bg-white dark:bg-black/95">
  <div class="container mx-auto px-4 py-8">
  
    <!-- Título de la página -->
    <section class="mb-8">
      <h1 class="text-3xl font-bold mb-2 text-gray-900 dark:text-white">Editar Donante</h1>
    </section>
  
    <!-- Formulario de edición -->
    <section class="space-y-4 max-w-3xl mx-auto border rounded-lg p-6">
      <form (ngSubmit)="updateDonor()">

        <!-- Email del donante -->
        <div class="mb-4">
          <label for="donorEmail" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Nuevo email</label>
          <input type="email" id="donorEmail" name="donorEmail" [(ngModel)]="donor.email" class="mt-1 block w-full rounded-md border-gray-300 dark:bg-gray-800 dark:text-white" required />
        </div> 

        <!-- Nombre del donante -->
        <div class="mb-4">
          <label for="donorName" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Nombre</label>
          <input type="text" id="donorName" name="donorName" [(ngModel)]="donor.user_name" class="mt-1 block w-full rounded-md border-gray-300 dark:bg-gray-800 dark:text-white" required />
        </div>
        
        <!-- Apellido del donante -->
        <div class="mb-4">
          <label for="donorLastName" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Apellido</label>
          <input type="text" id="donorLastName" name="donorLastName" [(ngModel)]="donor.last_name" class="mt-1 block w-full rounded-md border-gray-300 dark:bg-gray-800 dark:text-white" required />
        </div>

        <!-- Teléfono del donante -->
        <div class="mb-4">
          <label for="donorPhone" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Teléfono</label>
          <input type="tel" id="donorPhone" name="donorPhone" [(ngModel)]="donor.phone_number" class="mt-1 block w-full rounded-md border-gray-300 dark:bg-gray-800 dark:text-white" required />
        </div>

        <!-- Contraseña del donante -->
        <div class="mb-4">
          <label for="donorPassword" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Nueva Contraseña</label>
          <input type="password" id="donorPassword" name="donorPassword" [(ngModel)]="donor.password" class="mt-1 block w-full rounded-md border-gray-300 dark:bg-gray-800 dark:text-white" required />
        </div>

        <!-- Imagen del donante -->
        <div class="mb-4">
          <label for="donorImage" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Imagen del Donante</label>
          <input type="file" id="donorImage" (change)="onFileSelected($event)" class="mt-1 block w-full rounded-md border-gray-300 dark:bg-gray-800 dark:text-white" />
        </div>

        <!-- Botón de guardar -->
        <div class="flex justify-end">
          <button type="submit" class="px-6 py-2 text-white bg-teal-500 rounded-md hover:bg-teal-400 dark:bg-teal-600 dark:hover:bg-teal-500">Guardar cambios</button>
        </div>
      </form>
    </section>
    
  
  </div>
</div>
