@media (max-width: 640px) {
    .donation-card {
      gap: 4px;
    }

    .comment-input {
      font-size: 14px;
    }

    .donation-img {
      height: 64px;
      width: 64px;
    }

    .file-input {
      font-size: 12px;
    }

    .donation-actions button {
      font-size: 14px;
      padding: 8px;
    }
  }