<main class="flex-1 bg-white overflow-hidden">
    <div class="group/item bg-transparent">
      <div class="bg-gradient-to-t from-sky-200/100">
        <div class="flex items-center justify-center overflow-hidden">
          <img src="Logo.png" class="h-40 w-auto" alt="Logo" />
        </div>
        <div class="relative mt-20 w-full h-[10vh] text-gray-800 text-lg max-w-full overflow-hidden">
          <input class="hidden peer/slider1" type="radio" name="slider" id="slider1" checked />
          <input class="hidden peer/slider2" type="radio" name="slider" id="slider2" />
          <input class="hidden peer/slider3" type="radio" name="slider" id="slider3" />
  
          <div class="relative w-[300vw] flex transition-all duration-500 ease-in-out 
                      peer-checked/slider1:-left-0 peer-checked/slider2:-left-[100vw] peer-checked/slider3:-left-[200vw] max-w-full overflow-hidden">
            <div class="relative w-full h-full flex items-center justify-center">
              <p>Información del primer punto</p>
            </div>
          </div>
          
          <div class="absolute w-full flex justify-center gap-4 bottom-2">
            <label class="flex items-center justify-center w-5 h-5 bg-white rounded-full cursor-pointer opacity-50 z-10 transition-all duration-300 ease-in-out hover:scale-125 hover:opacity-100 text-xs" for="slider1"></label>
            <label class="flex items-center justify-center w-5 h-5 bg-white rounded-full cursor-pointer opacity-50 z-10 transition-all duration-300 ease-in-out hover:scale-125 hover:opacity-100 text-xs" for="slider2"></label>
            <label class="flex items-center justify-center w-5 h-5 bg-white rounded-full cursor-pointer opacity-50 z-10 transition-all duration-300 ease-in-out hover:scale-125 hover:opacity-100 text-xs" for="slider3"></label>
          </div>
        </div>
      </div>
    </div>
    <div class="group/item bg-transparent">
      <div class="bg-gradient-to-b from-sky-200/100">
        <app-table-news></app-table-news>
      </div>
      <div class="flex items-center justify-center h-full p-6">
        <div class="text-center max-w-lg p-8">
          <h2 class="text-2xl font-bold mb-3">Unidos por la Comunidad</h2>
          <p class="mb-4">Nuestra misión es apoyar a las comunidades vulnerables a través de donaciones colectivas, asegurando que cada contribución tenga un impacto positivo y sostenible. ¡Gracias por unirte a nosotros en este viaje solidario!</p>
        </div>
      </div>
    </div>
  </main>
  