<div [ngClass]="{'dark': isDarkMode}"
class="flex-1 flex items-center justify-center bg-gradient-to-b from-white to-cyan-700/50 dark:from-black dark:to-cyan-800 min-h-screen">
    <div class="max-w-xl mx-auto m-8 p-14">
      <img src="Logo.png" class="mx-auto h-48 sm:h-60 mb-8" alt="Logo" />
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="w-full mb-6">
          <label class="block text-sm text-black mb-2" for="user_name">Nombre</label>
          <input formControlName="user_name"
                 class="w-full px-6 py-4 text-gray-700 bg-gray-100 rounded-lg focus:outline-none focus:bg-sky-100"
                 type="text" id="user_name" placeholder="Nombre" required>
        </div>
  
        <div class="w-full mb-6">
          <label class="block text-sm text-black mb-2" for="email">Correo Electrónico</label>
          <input formControlName="email"
                 class="w-full px-6 py-4 text-gray-700 bg-gray-100 rounded-lg focus:outline-none focus:bg-sky-100"
                 type="email" id="email" placeholder="Correo Electrónico" required>
                 <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-red-500 text-sm mt-1">
                  <p *ngIf="form.get('email')?.hasError('required')">El correo es obligatorio.</p>
                  <p *ngIf="form.get('email')?.hasError('email')">Formato de correo inválido.</p>
                  <p *ngIf="form.get('email')?.hasError('gmailOnly')">Solo se permiten correos de Gmail (gmail.com).</p>
                </div>
        </div>

        <div class="w-full mb-6">
          <label class="block text-sm text-black mb-2" for="password">Contraseña</label>
          <input formControlName="password"
                 class="w-full px-6 py-4 text-gray-700 bg-gray-100 rounded-lg focus:outline-none focus:bg-sky-100"
                 type="password" id="password" placeholder="Contraseña" required>
        </div>

        <div class="w-full mb-6">
          <label class="block text-sm text-black mb-2" for="type_center">Tipo de Centro</label>
          <select formControlName="type_center"
                  class="w-full px-6 py-4 text-gray-700 bg-gray-100 rounded-lg focus:outline-none focus:bg-sky-100" id="type_center" required>
            <option value="" disabled selected>Selecciona el tipo de centro</option>
            <option value="comunity_center">Centro Comunitario</option>
            <option value="food_bank">Banco de Alimentos</option>
            <option value="childrens_shelters">Refugio Infantil</option>
          </select>
        </div>

        <div class="w-full mb-6">
          <label class="block text-sm text-black mb-2" for="needs">Necesidades</label>
          <select formControlName="needs"
                  class="w-full px-6 py-4 text-gray-700 bg-gray-100 rounded-lg focus:outline-none focus:bg-sky-100" id="needs">
            <option value="" disabled selected>Selecciona una necesidad (opcional)</option>
            <option value="clothes">Ropa</option>
            <option value="food">Comida</option>
            <option value="money">Dinero</option>
          </select>
        </div>

        <div class="w-full mb-6">
          <label class="block text-sm text-black mb-2" for="contact_phone_number">Teléfono de Contacto</label>
          <input formControlName="contact_phone_number"
                 class="w-full px-6 py-4 text-gray-700 bg-gray-100 rounded-lg focus:outline-none focus:bg-sky-100"
                 type="text" id="contact_phone_number" placeholder="Teléfono de Contacto" required>
        </div>

        <div class="w-full mb-6">
          <label class="block text-sm text-black mb-2" for="contact_social_media">Redes Sociales</label>
          <input formControlName="contact_social_media"
                 class="w-full px-6 py-4 text-gray-700 bg-gray-100 rounded-lg focus:outline-none focus:bg-sky-100"
                 type="text" id="contact_social_media" placeholder="Redes Sociales" required>
        </div>

        <div class="w-full mb-6">
          <label class="block text-sm text-black mb-2" for="contact_others">Otros Contactos</label>
          <input formControlName="contact_others"
                 class="w-full px-6 py-4 text-gray-700 bg-gray-100 rounded-lg focus:outline-none focus:bg-sky-100"
                 type="text" id="contact_others" placeholder="Otros Contactos (opcional)">
        </div>

        <div class="w-full mb-6">
          <label class="block text-sm text-black mb-2" for="address">Dirección</label>
          <input formControlName="address"
                 class="w-full px-6 py-4 text-gray-700 bg-gray-100 rounded-lg focus:outline-none focus:bg-sky-100"
                 type="text" id="address" placeholder="Dirección" required>
        </div>

        <div class="w-full mb-6">
          <label class="block text-sm text-black mb-2" for="image"></label>
          <input type="file" 
                 id="image" 
                 (change)="onFileSelected($event)" 
                 class="w-full px-6 py-4 text-gray-700 bg-gray-100 rounded-lg focus:outline-none focus:bg-sky-100" 
                 accept="image/png, image/jpeg, image/webp">
      </div>     

        <div class="w-full flex justify-center mb-6">
          <button type="submit" class="px-14 py-3 text-white font-light tracking-wider bg-cyan-600 hover:bg-gray-800 rounded-lg">
            Registrar
          </button>
        </div>
      </form>
    </div>
  </div>
  