<main [ngClass]="{'dark': isDarkMode}" class="flex-1 bg-white overflow-hidden dark:bg-black/95">
  <div class="group/item bg-transparent">
    <<div class="image-carousel-container">
      <div class="relative mt-10 w-full h-[20vh] sm:h-[30vh] lg:h-[20vh] max-w-full overflow-hidden">
        <!-- Radio inputs for slides -->
        <ng-container *ngIf="images.length > 0">
          <ng-container *ngFor="let image of images; let i = index">
            <input
              class="hidden"
              type="radio"
              name="slider"
              [id]="'slider' + i"
              [checked]="currentSlide === i"
              (change)="setCurrentSlide(i)"
            />
          </ng-container>
    
          <!-- Slides -->
          <div
            class="relative flex transition-all duration-500 ease-in-out"
            [style.width.%]="images.length * 100"
            [ngStyle]="{ 'transform': 'translateX(-' + currentSlide * 100 + '%)' }"
          >
            <div
              *ngFor="let image of images"
              class="flex items-center justify-center w-full h-full"
            >
              <img
                [src]="image"
                alt="Imagen de Noticia"
                class="w-full h-full object-cover"
              />
            </div>
          </div>
    
          <!-- Navigation dots -->
          <div class="w-full flex justify-center gap-6 bottom-2 p-4">
            <button
              *ngFor="let image of images; let i = index"
              (click)="setCurrentSlide(i)"
              class="flex items-center justify-center w-5 h-5 bg-white rounded-full cursor-pointer opacity-50 z-10 transition-all duration-300 ease-in-out hover:scale-125 hover:opacity-100"
              [class.opacity-100]="currentSlide === i"
            ></button>
          </div>
        </ng-container>
      </div>
    </div>
    
    
  </div>

  <div class="group/item bg-transparent">
    <div class="bg-gradient-to-b from-cyan-700/50">
      <app-table-news></app-table-news>
    </div>
    <div class="flex items-center justify-center h-full p-6">
      <div class="text-center max-w-lg p-8 text-gray-800 dark:text-gray-200">
        <h2 class="text-2xl font-bold mb-3">Unidos por la Comunidad</h2>
        <p class="mb-4">Nuestra misión es apoyar a las comunidades vulnerables a través de donaciones colectivas, asegurando que cada contribución tenga un impacto positivo y sostenible. ¡Gracias por unirte a nosotros en este viaje solidario!</p>
      </div>
    </div>
  </div>
</main>